*{
    margin: 0;
    padding: 0;
}

.bgi{
    text-align: center;
    background-image: url('./public/Distribution.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
  }